<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.localhackday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinalActivity"></activity>
        <activity android:name=".BedroomFinalActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".CafeActivity" />
        <activity android:name=".WardrobeFinalActivity" />
        <activity android:name=".OfficeStreetActivity" />
        <activity android:name=".OfficeContinueWorkingActivity" />
        <activity android:name=".OfficeWorkingActivity" />
        <activity android:name=".OfficeLoadingActivity" />
        <activity android:name=".OfficeBeginActivity" />
        <activity android:name=".OfficeStopActivity" />
        <activity android:name=".BusActivity" />
        <activity android:name=".OfficeActivity" />
        <activity android:name=".StopActivity" />
        <activity android:name=".ParkActivity" />
        <activity android:name=".ElevatorActivity" />
        <activity android:name=".StreetActivity" />
        <activity android:name=".StairsActivity" />
        <activity android:name=".EntranceActivity" />
        <activity android:name=".WardrobeActivity" />
        <activity android:name=".KitchenActivity" />
        <activity android:name=".BathroomActivity" />
        <activity android:name=".BedroomActivity" />
        <activity android:name=".NameActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>